@model HeroViewModel

@{
    ViewData["Title"] = "Novo Herói";
}

<h1>Novo Herói</h1>

<h4>Dados do Herói</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="Active" class="form-check-label"></label>
                <input asp-for="Active" class="form-check-input" />
            </div>
            <div class="form-group">
                <label asp-for="SecretIdentityId" class="control-label"></label>
                @Html.DropDownList("SecretIdentityId", ViewBag.GetAllSecretIdentities, "Selecione...", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Powers" class="control-label"></label>
                <div class="row">
                    <div class="col-md-8">
                        @Html.DropDownList("PowerId", (SelectList)ViewBag.GetAllPowers, "Selecione...", new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <div class="btn btn-secondary" id="btnAddPower">
                            Adicionar
                        </div>
                    </div>
                </div>
                <ul id="listPowers"></ul>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Hero/Create.js" asp-append-version="true"></script>
}
