@model FilmViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Dados do Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label" hidden></label>
                <input asp-for="FilmId" class="form-control" hidden/>
                <span asp-validation-for="FilmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heroes" class="control-label"></label>
                <div class="row">
                    <div class="col-md-8">
                        @Html.DropDownList("HeroId", (SelectList)ViewBag.GetAllHeroes, "Selecione...", new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <div class="btn btn-secondary" id="btnAddHero">
                            Adicionar
                        </div>
                    </div>
                </div>
                <ul id="listHeroes">
                    @if (Model.Heroes is null)
                    {
                        <li>Nenhum herói adicionado</li>
                    }
                    else
                    {
                        foreach (var item in Model.Heroes)
                        {
                            <li>@Html.DisplayFor(itemModel => item.Name)<input type='hidden' name='chkHero' id='chkHero' class='chkHero' value=@item.HeroId /></li>
                        }
                    }
                </ul>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Film/Edit.js" asp-append-version="true"></script>
}
